In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, mean_absolute_error, mean_squared_error

In [2]:
# Load the data
url = "https://raw.githubusercontent.com/Ekenc/Project4/main/Data/Merged_Target_Glaciers.csv"
df = pd.read_csv(url)

# Show DataFrame
df.head()

,Unnamed: 0,Year,Mean Nitrous Oxide Concentration,Mean Carbon Dioxide Concentration,Mean Methane Concentration,Mean cumulative mass balance of glaciers,Precipitation Anomaly,Mean Adjusted Sea Level (inches),Sea Temperature Anomaly,Earth Surface Temperature Anomaly (land and ocean)
0,0,1964,291.2,319.620000,1260.30,-2.545,-0.041776,4.169291,-0.546,-0.252
1,1,1967,291.5,322.180000,1284.03,-2.662,-0.096894,4.452756,-0.420,0.000
2,2,1970,293.8,325.620315,1351.70,-3.519,-0.070516,4.677165,-0.294,0.108
3,3,1971,294.0,326.320000,1357.20,-3.758,0.032240,4.881890,-0.510,-0.126
4,4,1972,295.6,328.742110,1380.10,-4.016,-0.772485,5.240157,-0.186,0.072

In [3]:
# Define features set
X = df.drop("Mean cumulative mass balance of glaciers", axis = 1)
X = X.drop("Unnamed: 0", axis = 1)
X= X.drop("Precipitation Anomaly", axis = 1)
X.head()

,Year,Mean Nitrous Oxide Concentration,Mean Carbon Dioxide Concentration,Mean Methane Concentration,Mean Adjusted Sea Level (inches),Sea Temperature Anomaly,Earth Surface Temperature Anomaly (land and ocean)
0,1964,291.2,319.620000,1260.30,4.169291,-0.546,-0.252
1,1967,291.5,322.180000,1284.03,4.452756,-0.420,0.000
2,1970,293.8,325.620315,1351.70,4.677165,-0.294,0.108
3,1971,294.0,326.320000,1357.20,4.881890,-0.510,-0.126
4,1972,295.6,328.742110,1380.10,5.240157,-0.186,0.072

In [17]:
# Load the data
url1 = "https://raw.githubusercontent.com/Ekenc/Project4/main/Data/RandomForestRegression_Projected_SeaLevel_Dataframe.csv"
df1 = pd.read_csv(url1)

# Show DataFrame
df1.head()

,Unnamed: 0,Year,Mean Nitrous Oxide Concentration,Mean Carbon Dioxide Concentration,Mean Methane Concentration,Mean Adjusted Sea Level (inches),Sea Temperature Anomaly,Earth Surface Temperature Anomaly (land and ocean)
0,0,2020,330.714233,405.576768,1906.690278,9.439804,0.770041,1.612599
1,1,2021,331.466061,407.257998,1916.355223,9.449434,0.792619,1.645512
2,2,2022,332.217889,408.939228,1926.020169,9.453924,0.815197,1.678425
3,3,2023,332.969718,410.620458,1935.685114,9.453924,0.837775,1.711339
4,4,2024,333.721546,412.301688,1945.350059,9.453924,0.860353,1.744252

In [18]:
df1=df1.drop("Unnamed: 0", axis = 1)
df1.head()

,Year,Mean Nitrous Oxide Concentration,Mean Carbon Dioxide Concentration,Mean Methane Concentration,Mean Adjusted Sea Level (inches),Sea Temperature Anomaly,Earth Surface Temperature Anomaly (land and ocean)
0,2020,330.714233,405.576768,1906.690278,9.439804,0.770041,1.612599
1,2021,331.466061,407.257998,1916.355223,9.449434,0.792619,1.645512
2,2022,332.217889,408.939228,1926.020169,9.453924,0.815197,1.678425
3,2023,332.969718,410.620458,1935.685114,9.453924,0.837775,1.711339
4,2024,333.721546,412.301688,1945.350059,9.453924,0.860353,1.744252

In [19]:
# Define target vector
y = df["Mean cumulative mass balance of glaciers"]
y[:48]

0     -2.545
1     -2.662
2     -3.519
3     -3.758
4     -4.016
5     -4.147
6     -4.339
7     -4.534
8     -5.140
9     -5.919
10    -6.726
11    -7.009
12    -7.586
13    -7.475
14    -7.559
15    -7.892
16    -8.399
17    -8.832
18    -8.935
19    -9.242
20    -9.917
21   -10.384
22   -10.819
23   -11.611
24   -12.134
25   -12.861
26   -13.088
27   -13.317
28   -13.755
29   -14.326
30   -15.018
31   -15.758
32   -16.591
33   -17.202
34   -17.619
35   -18.169
36   -19.011
37   -19.920
38   -20.657
39   -21.502
40   -22.285
41   -23.402
42   -24.383
43   -25.152
44   -26.043
45   -27.174
Name: Mean cumulative mass balance of glaciers, dtype: float64

In [20]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [21]:
# Create the StandardScaler instance
scaler = StandardScaler()

# Fit the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

In [22]:
# Scale the training data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
# Create the random forest classifier instance
random_model = RandomForestRegressor(n_estimators=100, random_state=78)

In [24]:
# Fit the model 
random_model = random_model.fit(X_train_scaled, y_train)

In [25]:
# Making predictions using the testing data
predictions = random_model.predict(X_test_scaled)

In [26]:
# Calculate the mean squared error, model evaluation
print(
  'mean_squared_error : ', mean_squared_error(y_test, predictions))
print(
  'mean_absolute_error : ', mean_absolute_error(y_test, predictions))

mean_squared_error :  0.1727338820083352
mean_absolute_error :  0.2851291666666662

In [27]:
# Compute the model score with training data
random_model.score(X_train_scaled, y_train)

0.9986740973069917

In [28]:
# Compute the model score with testing data
random_model.score(X_test_scaled, y_test)

0.9938245374077398

In [32]:
#Check Model with Predictions data
Glaciers_Predictions = random_model.predict(df1)
Glaciers_Predictions

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

array([-25.97423, -25.95885, -25.95885, -26.03139, -26.05504, -26.05504,
       -26.05504, -26.05504, -26.05504, -26.05504, -26.21858, -26.21858,
       -26.21858, -26.21858, -26.21858, -26.21858, -26.21858, -26.30505,
       -26.30505, -26.30505, -26.30505, -26.30505, -26.38261, -26.38261,
       -26.40161, -26.40161, -26.40161, -26.36597, -26.36597, -26.36597,
       -26.36597])

In [33]:
Glaciers_Predictions_df=df1.copy()
Glaciers_Predictions_df["Mean cumulative mass balance of glaciers"] = Glaciers_Predictions
Glaciers_Predictions_df = Glaciers_Predictions_df[['Year','Mean Nitrous Oxide Concentration', 'Mean Carbon Dioxide Concentration', 'Mean Methane Concentration', 'Mean Adjusted Sea Level (inches)', 'Sea Temperature Anomaly', 'Earth Surface Temperature Anomaly (land and ocean)','Mean cumulative mass balance of glaciers']]
Glaciers_Predictions_df

,Year,Mean Nitrous Oxide Concentration,Mean Carbon Dioxide Concentration,Mean Methane Concentration,Mean Adjusted Sea Level (inches),Sea Temperature Anomaly,Earth Surface Temperature Anomaly (land and ocean),Mean cumulative mass balance of glaciers
0,2020,330.714233,405.576768,1906.690278,9.439804,0.770041,1.612599,-25.97423
1,2021,331.466061,407.257998,1916.355223,9.449434,0.792619,1.645512,-25.95885
2,2022,332.217889,408.939228,1926.020169,9.453924,0.815197,1.678425,-25.95885
3,2023,332.969718,410.620458,1935.685114,9.453924,0.837775,1.711339,-26.03139
4,2024,333.721546,412.301688,1945.350059,9.453924,0.860353,1.744252,-26.05504
5,2025,334.473374,413.982918,1955.015005,9.453924,0.882931,1.777165,-26.05504
6,2026,335.225202,415.664148,1964.679950,9.453924,0.905509,1.810079,-26.05504
7,2027,335.977030,417.345378,1974.344895,9.453924,0.928088,1.842992,-26.05504
8,2028,336.728858,419.026608,1984.009840,9.453924,0.950666,1.875905,-26.05504
9,2029,337.480687,420.707838,1993.674786,9.453924,0.973244,1.908819,-26.05504
10,2030,338.232515,422.389068,2003.339731,9.453924,0.995822,1.941732,-26.21858
11,2031,338.984343,424.070298,2013.004676,9.453924,1.018400,1.974645,-26.21858
12,2032,339.736171,425.751528,2022.669622,9.453924,1.040978,2.007558,-26.21858
13,2033,340.487999,427.432758,2032.334567,9.453924,1.063556,2.040472,-26.21858
14,2034,341.239828,429.113988,2041.999512,9.453924,1.086134,2.073385,-26.21858
15,2035,341.991656,430.795218,2051.664457,9.453924,1.108713,2.106298,-26.21858
16,2036,342.743484,432.476448,2061.329403,9.453924,1.131291,2.139212,-26.21858
17,2037,343.495312,434.157678,2070.994348,9.453924,1.153869,2.172125,-26.30505
18,2038,344.247140,435.838908,2080.659293,9.453924,1.176447,2.205038,-26.30505
19,2039,344.998968,437.520138,2090.324239,9.471948,1.199025,2.237952,-26.30505
20,2040,345.750797,439.201368,2099.989184,9.471948,1.221603,2.270865,-26.30505
21,2041,346.502625,440.882598,2109.654129,9.471948,1.244181,2.303778,-26.30505
22,2042,347.254453,442.563828,2119.319074,9.471948,1.266759,2.336691,-26.38261
23,2043,348.006281,444.245058,2128.984020,9.471948,1.289338,2.369605,-26.38261
24,2044,348.758109,445.926288,2138.648965,9.489971,1.311916,2.402518,-26.40161
25,2045,349.509938,447.607518,2148.313910,9.489971,1.334494,2.435431,-26.40161
26,2046,350.261766,449.288748,2157.978856,9.489971,1.357072,2.468345,-26.40161
27,2047,351.013594,450.969978,2167.643801,9.489971,1.379650,2.501258,-26.36597
28,2048,351.765422,452.651208,2177.308746,9.489971,1.402228,2.534171,-26.36597
29,2049,352.517250,454.332438,2186.973691,9.489971,1.424806,2.567085,-26.36597
30,2050,353.269078,456.013668,2196.638637,9.504290,1.447384,2.599998,-26.36597

In [34]:
from google.colab import files
Glaciers_Predictions_df.to_csv("RandomForestRegression_Glacier_Dataframe.csv",encoding = 'utf-8-sig')
files.download('RandomForestRegression_Glacier_Dataframe.csv')