In [83]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, mean_absolute_error, mean_squared_error

In [84]:
# Load the data
url = "https://raw.githubusercontent.com/Ekenc/Project4/main/Data/Merged_Target_SeaLevel.csv"
df = pd.read_csv(url)

# Show DataFrame
df.head()

,Unnamed: 0,Year,Mean Nitrous Oxide Concentration,Mean Carbon Dioxide Concentration,Mean Methane Concentration,Precipitation Anomaly,Mean Adjusted Sea Level (inches),Sea Temperature Anomaly,Earth Surface Temperature Anomaly (land and ocean)
0,0,1964,291.2,319.620000,1260.30,-0.041776,4.169291,-0.546,-0.252
1,1,1967,291.5,322.180000,1284.03,-0.096894,4.452756,-0.420,0.000
2,2,1970,293.8,325.620315,1351.70,-0.070516,4.677165,-0.294,0.108
3,3,1971,294.0,326.320000,1357.20,0.032240,4.881890,-0.510,-0.126
4,4,1972,295.6,328.742110,1380.10,-0.772485,5.240157,-0.186,0.072

In [85]:
# Define features set
X = df.drop("Mean Adjusted Sea Level (inches)", axis = 1)
X = X.drop("Unnamed: 0", axis = 1)
X.head()

,Year,Mean Nitrous Oxide Concentration,Mean Carbon Dioxide Concentration,Mean Methane Concentration,Precipitation Anomaly,Sea Temperature Anomaly,Earth Surface Temperature Anomaly (land and ocean)
0,1964,291.2,319.620000,1260.30,-0.041776,-0.546,-0.252
1,1967,291.5,322.180000,1284.03,-0.096894,-0.420,0.000
2,1970,293.8,325.620315,1351.70,-0.070516,-0.294,0.108
3,1971,294.0,326.320000,1357.20,0.032240,-0.510,-0.126
4,1972,295.6,328.742110,1380.10,-0.772485,-0.186,0.072

In [86]:
# Define target vector
y = df["Mean Adjusted Sea Level (inches)"]
y[:48]

0     4.169291
1     4.452756
2     4.677165
3     4.881890
4     5.240157
5     5.003937
6     5.472441
7     5.409449
8     5.303150
9     5.598425
10    6.153543
11    5.748031
12    5.771654
13    5.795276
14    5.980315
15    6.157480
16    6.248031
17    6.346457
18    6.374016
19    6.303150
20    6.507874
21    6.622047
22    6.783465
23    7.059055
24    6.669291
25    7.003937
26    7.055118
27    7.271654
28    7.366142
29    7.728346
30    7.712598
31    7.716535
32    7.885827
33    7.960630
34    8.303150
35    8.531496
36    8.834646
37    8.897638
38    9.244094
39    8.913386
40    8.579036
41    8.924984
42    9.048399
43    9.110986
44    9.234521
45    9.480223
46    9.592477
Name: Mean Adjusted Sea Level (inches), dtype: float64

In [87]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [88]:
# Create the StandardScaler instance
scaler = StandardScaler()

# Fit the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

In [89]:
# Scale the training data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [90]:
# Create the random forest classifier instance
random_model = RandomForestRegressor(n_estimators=100, random_state=78)

In [91]:
# Fit the model 
random_model = random_model.fit(X_train_scaled, y_train)

In [92]:
# Making predictions using the testing data
predictions = random_model.predict(X_test_scaled)

In [93]:
# Calculate the mean squared error, model evaluation
print(
  'mean_squared_error : ', mean_squared_error(y_test, predictions))
print(
  'mean_absolute_error : ', mean_absolute_error(y_test, predictions))

mean_squared_error :  0.06081749175843217
mean_absolute_error :  0.1889369513791662

In [94]:
# Compute the model score with training data
random_model.score(X_train_scaled, y_train)

0.9969015943516814

In [95]:
# Compute the model score with testing data
random_model.score(X_test_scaled, y_test)

0.963585839572718